os: linux
dist: bionic

language: java

jdk:
  - openjdk11

addons:
  sonarcloud:
    organization: $SONAR_ORGANIZATION

git:
  #depth false needed by sonarcloud for deep comparison
  #depth false is needed by ci/commitPoms.sh
  depth: false

cache:
  directories:
    - $HOME/.m2

branches:
  except:
    - /dependabot.*/

stages:
  - name: Test
  - name: Release / Deploy
    if: repo = 'Taskana/TaskanaAdapter' AND (tag =~ ^[0-9]+\.[0-9]+\.[0-9]+/[0-9]+\.[0-9]+\.[0-9]+$ OR branch = master) AND type != pull_request

jobs:
  include:
    - stage: Test
      install: skip
      # include SONAR_PROJECT_KEY as a second parameter if this is not a pull request
      script: ci/test.sh H2 "$([ "false" = "$TRAVIS_PULL_REQUEST" ] && echo "$SONAR_PROJECT_KEY")"
      before_cache: rm -rf $HOME/.m2/repository/pro/taskana

    - stage: Release / Deploy
      name: release / deploy / commit
      before_install: |
        openssl aes-256-cbc -K "$encrypted_9f2846d5d05c_key" -iv "$encrypted_9f2846d5d05c_iv" \
        -in "ci/codesigning.asc.enc" -out "ci/codesigning.asc" -d && gpg --batch --import "ci/codesigning.asc"
      install: ci/change_version.sh -m .
      script: |
        mvn deploy -B -T 2C -P `[[ "$TRAVIS_TAG" =~ ^[0-9]+\.[0-9]+\.[0-9]+/[0-9]+\.[0-9]+\.[0-9]+$ ]] && echo "release" || echo "snapshot"` \
        --settings ci/mvnsettings.xml -DskipTests -Dcheckstyle.skip \
        -pl !:taskana-adapter-camunda-listener-example,!:taskana-adapter-camunda-spring-boot-test
      before_cache: rm -rf $HOME/.m2/repository/pro/taskana
      # travis_terminate is necessary since after_success is a job phase which can change the build result.
      # it is not documented, so this is a little hack. see: https://docs.travis-ci.com/user/job-lifecycle/#breaking-the-build
      after_success: ci/change_version.sh -i -m . && ci/commitPoms.sh || travis_terminate 1
